@import "tailwindcss";
@plugin "flyonui" {
   themes: ghibli --default
   /* , luxury --prefersdark; */
}
/* Base Font configuration for the default theme */
@theme {
  --font-sans: "Amaranth", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto;
}
/* Theme-Specific Font Configuration */
@plugin "flyonui/theme" {
  name: luxury;
  font-family: "Archivo";
}

@import "flyonui/variants.css";
@source "../../../node_modules/flyonui/flyonui.js"; 
@plugin "@iconify/tailwind4";

/* Import Third-party override css */
/* @import "flyonui/src/vendor/flatpickr.css"; */
/* @import "flyonui/src/vendor/notyf.css"; */
/* @import "flyonui/src/vendor/datatables.css"; */
/* @import "flyonui/src/vendor/editor.css"; */
/* @import "flyonui/src/vendor/fullcalendar.css"; */
/* @import "flyonui/src/vendor/raty.css"; */
/* @import "flyonui/src/vendor/waves.css"; */
/* @import "flyonui/src/vendor/apexcharts.css"; */        

h1, h2, h3, h4, h5, h6 { @apply text-base-content; }
h1 { @apply text-4xl; }
h2 { @apply text-3xl; }
h3 { @apply text-2xl; }
h4 { @apply text-xl; }
h5 { @apply text-lg; }
h6 { @apply text-base; }
p { @apply text-base-content/80 text-base; }
small { @apply text-base-content/80; }
.gradient { @apply bg-linear-to-r from-primary to-error bg-clip-text text-transparent font-black w-fit; }
.gradient-background { @apply gradient-bg gradient-bg-primary w-full rounded-md p-5; }
.muted { @apply text-base-content/50 text-base; }
