{% assign parts = page.fileSlug | split: '.' %}
{% assign cumulative = '' %}
<div class="breadcrumbs text-sm">
  <ul>
    {% for part in parts %}
      {% if cumulative == '' %}
        {% assign cumulative = part %}
      {% else %}
        {% assign cumulative = cumulative | append: '.' | append: part %}
      {% endif %}

      {% assign target = collections.all | where: 'fileSlug', cumulative | first %}

      {% if target %}
        <li>
          {% if not forloop.last %}
            <a href="{{ target.url }}">
              {{ target.data.title }}
            </a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
