<footer class="footer sm:footer-horizontal footer-center bg-neutral text-neutral-content p-4 absolute inset-x-0 bottom-0">
  <aside>
    <p>
      © 2018-{{ 'now' | date: '%Y' }} - {{ author }} -
      <a href="https://www.11ty.dev/" class="menu-item" target="_blank" rel="noopener noreferrer">
        {{ eleventy }}
      </a>
    </p>
  </aside>
</footer>
