<footer class="bg-neutral-primary-soft shadow-xs border border-default mt-8">
  <div class="w-full p-4 text-center">
    <span class="text-sm text-body sm:text-center"
      >© 2023-{{ 'now' | date: '%Y' }}. Built by {{ author }} with
      <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer"> {{ eleventy }} </a>
    </span>
  </div>
</footer>
