<header>
  <pre class="sun-banner">
   █████████████████████████████
   ███████████▓▓▓▓▓▓▓██████████
   ███████▓▓▓▓▓▓▓▓▓▓▓▓▓███████
   █████████████████████████████
        {{  title }}
      </pre>

  <p class="terminal-prompt">echo $site.description</p>
  <p>
    {{ description }}
  </p>
</header>
