<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">{{ title }}</a>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end">
    <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto">
  </div>
</div>
