<div class="navbar bg-base-200 text-base-content shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a href="/">Home</a></li>
        <li>
          <a>Collections</a>
          <ul class="p-2">
            <li><a href="/inbox/">Inbox</a></li>
            <li><a href="/art/">Art</a></li>
            <li><a href="/history/">History</a></li>
            <li><a href="/literature/">Literature</a></li>
            <li><a href="/personal/">Personal</a></li>
            <li><a href="/philosophy/">Philosophy</a></li>
            <li><a href="/science/">Science</a></li>
            <li><a href="/technology/">Technology</a></li>
            <li><a href="/theology/">Theology</a></li>
            <li><a href="/worlds/">Worlds</a></li>
          </ul>
        </li>
        <li><a href="/tags/">Tags</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost text-xl">{{ title }}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li>
        <details>
          <summary>Collections</summary>
          <ul class="p-2 bg-base-100 w-40 z-1">
            <li><a href="/inbox/">Inbox</a></li>
            <li><a href="/art/">Art</a></li>
            <li><a href="/history/">History</a></li>
            <li><a href="/literature/">Literature</a></li>
            <li><a href="/personal/">Personal</a></li>
            <li><a href="/philosophy/">Philosophy</a></li>
            <li><a href="/science/">Science</a></li>
            <li><a href="/technology/">Technology</a></li>
            <li><a href="/theology/">Theology</a></li>
            <li><a href="/worlds/">Worlds</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/tags/">Tags</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle" onclick="search_modal.showModal()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
    </button>
    <kbd class="kbd kbd-sm not-lg:hidden bg-neutral text-neutral-content">⌘ K</kbd>
  </div>
</div>
