<ul class="menu rounded-box w-full">
  {% assign folders = '' | split: '' %}
  {% assign files = '' | split: '' %}

  {% for item in navTree %}
    {% if item.children and item.children.size > 0 %}
      {% assign folders = folders | push: item | sort: 'title' %}
    {% else %}
      {% assign files = files | push: item | sort: 'title' %}
    {% endif %}
  {% endfor %}

  {% assign orderedRoot = folders | concat: files %}

  {% for section in orderedRoot %}
    {% render 'menu-item', section: section, page: page %}
  {% endfor %}

  <li>
    <a href="/">Home</a>
  </li>
</ul>
