<aside class="w-80 bg-secondary text-secondary-content min-h-full p-4">
  <ul class="menu rounded-box w-full">
    <li>
      <a href="/">Home</a>
    </li>

    {% assign sortedNav = navTree | sort: 'children.size' | reverse %}
    {% for section in sortedNav %}
      {% render 'menu-item', section: section, page: page %}
    {% endfor %}
  </ul>
</aside>
