@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: garden --default, forest --prefersdark, synthwave, cyberpunk, retro, valentine, pastel, fantasy, autumn, winter, sunset;
}
