---
layout: base
---
<main
  id="top"
>
  <!-- Hero Section -->
  {% render 'hero',
    title: title,
    description: description,
    date: date,
    modified: modified,
    banner: banner,
    cover: cover
  %}

  <div class="m-5">
    <h2 class="text-3xl font-bold m-5">Collections</h2>
    <div class="tabs tabs-box text-base-content ">
      {% for tag in site.mainCollections %}
        <input
          type="radio"
          name="my_tabs"
          class="tab"
          aria-label="{{ tag | capitalize }}"
          {% if forloop.first %}
            checked="checked"
          {% endif %}
        >
        <div class="tab-content bg-base-100 border-base-300 p-6">
          {% render 'posts-list-limit', collection: collections[tag] %}
          <div class="text-center mt-8">
            <a href="/{{ tag }}/" class="btn btn-wide btn-secondary btn-outline">View All in {{ tag | capitalize }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
