---
layout: base
---
<main
  id="top"
>
  <!-- Hero Section -->
  {% render 'hero',
    title: title,
    description: description,
    date: date,
    modified: modified,
    banner: banner,
    cover: cover
  %}

  <div class="m-5">
    <h2 class="text-3xl font-bold m-5">Collections</h2>
    <div class="tabs tabs-box text-base-content ">
      {% for tag in collections.tagTree %}
        <input
          type="radio"
          name="my_tabs"
          class="tab"
          aria-label="{{ tag.name | capitalize }}"
          {% if forloop.first %}
            checked="checked"
          {% endif %}
        >
        <div class="tab-content bg-base-100 border-base-300 p-6">
					{% capture childPath %}/{{ tag.name }}/{% endcapture %}
          {% render 'posts-list-limit', tree: tag.children, path: childPath %}
          <div class="text-center mt-8">
            <a href="/{{ tag.name }}/" class="btn btn-wide btn-secondary btn-outline"
              >View All in {{ tag.name | capitalize -}}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
