---
layout: base
---
<article
  class="mx-auto format lg:format-lg dark:format-invert format-red p-6 sm:bg-neutral-primary-soft sm:rounded-base sm:shadow-xs sm:border sm:border-default"
>
  {{ content }}
  {% if backlinks.length > 0 %}
    <!-- Backlinks -->
    <div class="callout" data-callout="summary">
      <div class="callout-title">
        <div class="callout-title-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-list"
          >
            <line x1="8" x2="21" y1="6" y2="6"></line><line x1="8" x2="21" y1="12" y2="12"></line><line x1="8" x2="21" y1="18" y2="18"></line><line x1="3" x2="3.01" y1="6" y2="6"></line><line x1="3" x2="3.01" y1="12" y2="12"></line><line x1="3" x2="3.01" y1="18" y2="18"></line>
          </svg>
        </div>
        <div class="callout-title-inner">Linking here</div>
      </div>
      <div class="callout-content mt-4">
        <ul class="space-y-1 text-body list-disc list-inside">
          {% for link in backlinks %}
            <li>
              <a href="{{ link.url }}" class="font-medium text-fg-brand hover:underline">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
</article>
